body {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: rgb(254, 251, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 60vh;
}

button {
    border: none;
    background-color: aquamarine;
    color: rgb(107, 105, 105);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 15px;
}

div.bookInfo {
    background-color: hsla(0, 29%, 17%, 0.601);
    display: grid;
}

table.bookTable {
    border: 1px solid black;
    background-color: white;
}

#submitBookForm {
    display: flex;
    flex-direction: column;
}

#dialog > div#btnDiv {
    margin-top: 10px;
}